<p id="notice"><%= notice %></p>

<p>
  <strong>Idusuariositio:</strong>
  <%= @usuario_sitio.idUsuarioSitio %>
</p>

<p>
  <strong>Idusuarios:</strong>
  <%= @usuario_sitio.idUsuarioS %>
</p>

<p>
  <strong>Idsitiou:</strong>
  <%= @usuario_sitio.idSitioU %>
</p>

<%= link_to 'Edit', edit_usuario_sitio_path(@usuario_sitio) %> |
<%= link_to 'Back', usuario_sitios_path %>
