<p id="notice"><%= notice %></p>

<p>
  <strong>Idsitio:</strong>
  <%= @sitio.idSitio %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @sitio.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @sitio.longitude %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @sitio.nombre %>
</p>

<%= link_to 'Edit', edit_sitio_path(@sitio) %> |
<%= link_to 'Back', sitios_path %>
