<p id="notice"><%= notice %></p>

<p>
  <strong>Idusuariogusto:</strong>
  <%= @usuario_gusto.idUsuarioGusto %>
</p>

<p>
  <strong>Idgustou:</strong>
  <%= @usuario_gusto.idGustoU %>
</p>

<p>
  <strong>Idusuariog:</strong>
  <%= @usuario_gusto.idUsuarioG %>
</p>

<%= link_to 'Edit', edit_usuario_gusto_path(@usuario_gusto) %> |
<%= link_to 'Back', usuario_gustos_path %>
