<p id="notice"><%= notice %></p>

<p>
  <strong>Idgusto:</strong>
  <%= @cat_gusto.idGusto %>
</p>

<p>
  <strong>Gusto:</strong>
  <%= @cat_gusto.gusto %>
</p>

<%= link_to 'Edit', edit_cat_gusto_path(@cat_gusto) %> |
<%= link_to 'Back', cat_gustos_path %>
