<!DOCTYPE html>
<html>
<head>
  <title>Stella</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>
	    <script type="text/javascript" src="javascripts/common.js"></script>
  	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	<script type="text/javascript" src="https://jquery-xml2json-plugin.googlecode.com/svn/trunk/jquery.xml2json.js"></script> 
    <script type="text/javascript" src="<%=@data.lightbox_url%>"</script>
	<script type="text/javascript" src="https://sandbox.masterpass.com/lightbox/Switch/assets/js/MasterPass.omniture.js"></script>
	<script type="text/javascript" src="javascripts/tooltips/jquery.qtip.min.js"></script>
	<script type="text/javascript" src="javascripts/tooltips/commonToolTips.js"></script>
</body>
</html>
